.upward {
    position: fixed;
    bottom: 700px;
    right: 40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--accent--color);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 800;

}
.upward.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}